  @media (prefers-color-scheme: dark) {
    /* Dark mode styles here */
    body {
      font-family: Arial, sans-serif;
      background-color: #1f1f1f;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      margin-top: 5%;
      text-align: center;
      background-color: #000;
      flex: 1;
    }

    h1, h2, p {
      margin: 10px;
      text-align: center;
    }
    
    h1 {
      font-size: 32px;
      color: #ccc;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    h2 {
      font-size: 24px;
      color: #ccc;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    p {
      font-size: 16px;
      color: #999;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    form {
      width: 500px;
      margin: 0 auto;
      text-align: center;
      font-family: Arial, sans-serif;
    }
    
    label {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
      color: #FFF;
    }
    
    input[type="email"],
    input[type="text"],
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #333;
      box-sizing: border-box;
      margin-bottom: 20px;
      font-size: 16px;
    }
    
    input[type="submit"] {
      background-color: #b350af;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
    
    input[type="submit"]:hover {
      background-color: #ba5fb6;
    }

    li {
      font-size: 16px;
      color: #ccc;
      margin: 10px;
      font-weight: bold;
    }
  }
    
  @media (prefers-color-scheme: light) {
    /* Light mode styles here */
    body {
      font-family: Arial, sans-serif;
      background-color: #e0e0e0;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      background-color: #fff;
      flex: 1;
    }

    h1, h2, p {
      margin: 10px;
      text-align: center;
    }
    
    h1 {
      font-size: 32px;
      color: #333;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    h2 {
      font-size: 24px;
      color: #333;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    p {
      font-size: 16px;
      color: #666;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    form {
      width: 500px;
      margin: 0 auto;
      text-align: center;
      font-family: Arial, sans-serif;
    }
    
    label {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    input[type="email"],
    input[type="text"],
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-bottom: 20px;
      font-size: 16px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }

    li {
      font-size: 16px;
      color: #333;
      margin: 10px;
      font-weight: bold;
      justify-content: left;
    }
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: left;
    justify-items: left;
  }

  img {
    padding-top: 2%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fff;
  }